.single-tweet {
  border: 1px solid rgb(241, 241, 241);
  border-radius: 5px;
  margin-top: 10px;
}

.single-tweet:hover .t-header {
  opacity: 1;
}

.single-tweet:hover {
 border: 1px solid lightgrey;
}

.avatar {
  width: 3.2em;
  height: 3.2em;
  border-radius: 15px;
}

.t-header {
  position: relative;
  background-color: lightgrey;
  height: 4em;
  line-height: 10vh;
  opacity: .5;
  padding: 5px;
}

.username {
  position: absolute;
  top: 0;
  margin-left: 5px;
  line-height: 4em;
}

.created-on {
  border-top: .5px solid rgb(231, 231, 231);
  font-size: .8em;
  height: 3em;
  line-height: 3em;
  padding-left: 3%;
}

.tweet-body {
  margin-left: 3%;
  opacity: 1;
}

.user-tag {
  position: absolute;
  right: 3%;
}